<div class="dashboard-sidebar">
  <a href="../index" class="brand-mark brand-mark--light">
    <img class="brand-mark__logo" src="../img/logo/logo.png" alt="Etch logo" />
    <span><strong>Etch</strong><small>Creator Hub</small></span>
  </a>
  <nav class="dashboard-nav">
    <a class="dashboard-nav__item dashboard-nav__item--active" href="dashboard">Overview</a>
    <a class="dashboard-nav__item" href="storefront">Storefront</a>
    <a class="dashboard-nav__item" href="listings">Listings</a>
    <a class="dashboard-nav__item" href="uploads">Upload</a>
    <a class="dashboard-nav__item" href="licensing">Licensing</a>
    <a class="dashboard-nav__item" href="messages">Messages</a>
    <a class="dashboard-nav__item" href="sales-earnings">Earnings</a>
    <a class="dashboard-nav__item" href="../auth/signin" data-signout>Sign out</a>
  </nav>
</div>
